.footer {
    height: 50px;
    background-color: #4c5061;
}

.container{
    width: 200px;
}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: darkgray;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    right: 0;
    border: 1px solid black;
    border-radius: 10px;
}

.flex-container {
    counter-reset: flex-item-counter;
    margin-top: 500px;
    height: 100px;
    padding: 10px;
    background: burlywood;
    border: 1px solid black;
    border-radius: 10px;
}
.flex-item {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    list-style-type: none;
}

.flex-container {
    display: flex;
    align-items: flex-start;
}
.flex-end {
    align-items: center;
    justify-content: space-evenly;
}

/*p {*/
/*margin-bottom: 1rem;*/
/*}*/

/*.counter {*/
/*padding: 10px;*/
/*}*/

/*ol.instructions {*/
/*list-style-type: decimal;*/
/*margin-left: 1rem;*/
/*margin-top: .5rem;*/
/*}*/

/*li {*/
/*margin-bottom: 1rem;*/
/*}*/

/*ol {*/
/*margin-top: .5rem;*/
/*margin-left: 2.5rem;*/
/*list-style-type: decimal;*/
/*}*/

/*.counter .counter-controls {*/
/*display: inline-block;*/
/*margin-left: 10px;*/
/*}*/

/*.counter .counter-controls button {*/
/*margin-right: 4px;*/
/*}*/

/*.button.is-small {*/
/*border-radius: 2px;*/
/*font-size: 1rem;*/
/*}*/

/*.button.is-danger {*/
/*background-color: #ff3860;*/
/*border-color: transparent;*/
/*color: #fff;*/
/*}*/

/*.button.is-danger:hover, .button.is-danger.is-hovered {*/
/*background-color: #ff2b56;*/
/*border-color: transparent;*/
/*color: #fff;*/
/*}*/

/*.button.is-success {*/
/*background-color: #23d160;*/
/*border-color: transparent;*/
/*color: #fff;*/
/*}*/

/*.button.is-success:hover, .button.is-success.is-hovered {*/
/*background-color: #22c65b;*/
/*border-color: transparent;*/
/*color: #fff;*/
/*}*/

/*.button.is-warning {*/
/*background-color: #0495c9;*/
/*border-color: transparent;*/
/*color: #fff;*/
/*}*/

/*.button.is-warning:hover, .button.is-warning.is-hovered {*/
/*background-color: #00b3db;*/
/*border-color: transparent;*/
/*color: #fff;*/
/*}*/

/*.footer-tooltip{*/
/*margin: 50px;*/
/*padding: 50px;*/
/*}*/

.tooltip-sidebar {
     /*position: relative;*/
     position: fixed;
     right: 210px;
     top: 200px;
     display: inline-block;
     width: 120px;
     border: 1px solid black;
     background-color: white;
     border-radius: 10%;
 }

.tooltip-footer {
    /*position: relative;*/
    position: fixed;
    left: 300px;
    bottom: 135px;
    display: inline-block;
    width: 120px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10%;
}

.tooltip-sidebar-tooltiptext{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
    position: absolute;
    right: -8px;
    top: 30px;
}

.tooltip-footer-tooltiptext{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
    position: absolute;
    left: 53px;
    bottom: -8px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 27%;
    left: -53%;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.tooltip::after {
content: "";
position: absolute;
top: 36%;
right: -9%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent transparent #555;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}