/*@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');*/

/* html,body {
//   font-family: 'Encode Sans Expanded', sans-serif;
//   height: 100%;
//   width: 200vh;
//   margin: 0;
 }*/

p {
    margin-bottom: 1rem;
}

.counter {
    padding: 10px;
}

ol.instructions {
    list-style-type: decimal;
    margin-left: 1rem;
    margin-top: .5rem;
}

li {
    margin-bottom: 1rem;
}

ol {
    margin-top: .5rem;
    margin-left: 2.5rem;
    list-style-type: decimal;
}

.counter .counter-controls {
    display: inline-block;
    margin-left: 10px;
}

.counter .counter-controls button {
    margin-right: 4px;
}

.button.is-small {
    border-radius: 2px;
    font-size: 1rem;
}

.button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff;
}

.button.is-danger:hover, .button.is-danger.is-hovered {
    background-color: #ff2b56;
    border-color: transparent;
    color: #fff;
}

.button.is-success {
    background-color: #23d160;
    border-color: transparent;
    color: #fff;
}

.button.is-success:hover, .button.is-success.is-hovered {
    background-color: #22c65b;
    border-color: transparent;
    color: #fff;
}

.button.is-warning {
    background-color: #0495c9;
    border-color: transparent;
    color: #fff;
}

.button.is-warning:hover, .button.is-warning.is-hovered {
    background-color: #00b3db;
    border-color: transparent;
    color: #fff;
}

.rht-bloc {
    float: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
    background-color: gainsboro;
}

.footer-tooltip{
    margin: 50px;
    padding: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}

.sidebar{
    position: absolute;
    right: 0;
    height: 100%;
    border: 1px solid black;
    background-color: bisque;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 27%;
    left: -53%;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 36%;
    right: -9%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}